@font-face {
    font-family: 'Protofo';
    src: url('/fonts/protofo-regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Protofo';
    src: url('/fonts/protofo-bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6,p,span {
    color: var(--color-p);
}

body {
    font-family: 'Protofo';
    background: #000000;
    --gap: 2em;
    --line: 1px;
    --color: rgba(255, 255, 255, 0.08);
  
    background-image: linear-gradient(
        -90deg,
        transparent calc(var(--gap) - var(--line)),
        var(--color) calc(var(--gap) - var(--line) + 1px),
        var(--color) var(--gap)
      ),
      linear-gradient(
        0deg,
        transparent calc(var(--gap) - var(--line)),
        var(--color) calc(var(--gap) - var(--line) + 1px),
        var(--color) var(--gap)
      );
    background-size: var(--gap) var(--gap);
}
  
:root {
    --color-blanco: #fff;
    --color-index: #111111;
    --color-p: #707070;
    --color-negro: #000000;
    --color-yellow: #FFF3B6;
    --color-purple: #BC78FF;
}

img {
    width: 50px;
}

header {
    background-color: var(--color-index);
    padding: 15px 160px;
    transition: all 1s;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav ul {
    display: flex;
    gap: 30px;
    margin: 0;
    padding: 0;
}

header nav ul li {
    list-style: none;
}

header nav ul li a {
    text-decoration: none;
    color: var(--color-p);
    font-weight: 300;
    font-size: 20px;
    transition: all 0.2s;
}

header nav ul li a:hover {
    color: var(--color-blanco);
}

header nav ul li a button {
    width: 100px;
    height: 35px;
    font-size: 18px;
    background-color: transparent;
    color: var(--color-p);
    border: 1px solid var(--color-p);
    cursor: pointer;
    border-radius: 10px;
    transition: all .2s;
}

header nav ul li a button:hover {
    color: var(--color-negro);
    background-color: var(--color-blanco);
    border: 1px solid var(--color-negro);
    transform: scale(1.1);
}

#Inicio {
    background-color: var(--color-index);
    padding: 100px 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
}

#Inicio .intro {
    max-width: 800px;
}

#Inicio h1 {
    font-size: 40px;
    color: var(--color-yellow);
}

#Inicio p {
    font-size: 22px;
    color: var(--color-p);
}

#Inicio a {
    display: inline-block;
    margin-top: 20px;
    font-size: 24px;
    color: var(--color-blanco);
    text-decoration: none;
}


/* sobre mi */

#sobre-mi {
    margin-top: 100px;
    padding: 100px 20% 40px 20%;
}

.h4 {
    color: var(--color-purple);
    font-weight: normal;
    font-size: 22px;
}

.h3 {
    color: var(--color-blanco);
    font-weight: normal;
    letter-spacing: 2px;
    font-size: 30px;
    margin-bottom: 30px;
}

#sobre-mi ul {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin: 0;
    padding: 0;
}

#sobre-mi .two-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

#sobre-mi .two-section h2 {
    font-size: 25px;
    color: var(--color-blanco);
    font-weight: bold;
}

#sobre-mi .two-section h5 {
    font-size: 18px;
    color: var(--color-blanco);
    font-weight: normal;
}

/* Habilidades-1 */

#habilidades-1 {
    margin-top: 100px;
    padding: 100px 20% 40px 20%;
}

#habilidades-1 .intro {
    max-width: 800px;
}

.span {
    text-decoration: underline;
}

#habilidades-1 .grid {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Crea 4 columnas con el mismo ancho */
    grid-template-rows: repeat(4, auto); /* Crea 4 filas con altura automática */
    gap: 40px; /* Espacio entre las celdas */
}

#habilidades-1 .grid .skill h3 {
    font-size: 25px;
    font-weight: normal;
    color: var(--color-blanco);
}

#habilidades-1 .grid .skill h2 {
    font-size: 20px;
    font-weight: bold;
}






#habilidades-2 {
    padding: 20px 20% 30px 20% !important; 
}

#habilidades-2 .intro {
    max-width: 1300px;
}

#habilidades-2 .grid {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Crea 4 columnas con el mismo ancho */
    grid-template-rows: repeat(3, auto); /* Crea 4 filas con altura automática */
    gap: 60px; /* Espacio entre las celdas */
}

#habilidades-2 .grid .skill h3 {
    font-size: 25px;
    font-weight: normal;
    color: var(--color-blanco);
}

#habilidades-2 .grid .skill h2 {
    font-size: 20px;
    font-weight: normal;
}


/* Proyectos */


#proyectos {
    padding: 10px 20% 40px 20% !important; 
}

#proyectos .intro {
    max-width: 800px;
}


#proyectos .grid {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Crea 4 columnas con el mismo ancho */
    grid-template-rows: repeat(3, auto); /* Crea 4 filas con altura automática */
    gap: 100px; /* Espacio entre las celdas */
}


/* Grid proyectos  */
.card {
    width: 280px;
    border-radius: 0.5rem;
    background-color: var(--color-index);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    border: 1px solid transparent;
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }
  
  .card a {
    text-decoration: none;
  }
  
  .card-image {
    width: 100%;
    height: 150px;
    background-color: rgb(37, 37, 37);
    object-fit: cover;
  }
  
  .card-content {
    padding: 1.1rem;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 10px;
  }
  
  .card-title {
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: 600;
    color: var(--color-blanco);
  }
  
  .card-desc {
    margin-top: 0.5rem;
    color: var(--color-p);
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
  
  .card-action {
    display: inline-flex;
    margin-top: auto;
    color: #ffffff;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 500;
    align-items: center;
    gap: 0.25rem;
    background-color: var(--color-negro);
    padding: 4px 8px;
    border-radius: 4px;
    transition: transform 0.3s ease;
    width: 100px;
  }
  
  .card-action span {
    transition: transform 0.3s ease;
  }
  
  .card-action:hover span {
    transform: translateX(4px);
  }
  
  
  

/* Footer */

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-index);
    height: 30px;
}
















/* Media Query */

@media (max-width: 1700px){
    #proyectos .grid {
        grid-template-columns: repeat(2, 1fr); /* Crea 4 columnas con el mismo ancho */
        grid-template-rows: repeat(3, auto); /* Crea 4 filas con altura automática */
    }
}

@media (max-width: 1150px){
    #habilidades-1 .grid, #habilidades-2 .grid {
        grid-template-columns: repeat(2, 1fr); /* Reduce a 2 columnas */
    }

    #proyectos .grid {
        grid-template-columns: repeat(1, 1fr); /* Crea 4 columnas con el mismo ancho */
        grid-template-rows: repeat(3, auto); /* Crea 4 filas con altura automática */
    }

    header {
        display: none;
    }
}

@media (max-width: 815px){


    #Inicio, #sobre-mi, #habilidades-1, #habilidades-2, #proyectos {
        padding: 100px 12% 40px 12%;
    }

    #sobre-mi .two-section h2 {
        font-size: 25px;
    }
    
    #sobre-mi .two-section h5 {
        font-size: 14px;
    }

    #habilidades-2 .grid {
        grid-template-columns: repeat(1, 1fr); /* Reduce a 1 columna */
    }

    #Inicio h1 {
        font-size: 30px;
        margin: 10px 0;
    }
    
    #Inicio p {
        font-size: 14px;
    }
    
    #Inicio a {
        font-size: 16px;
    }

    .h4 {
        font-size: 12px;
    }
    
    .h3 {
        font-size: 20px;
    }

    #sobre-mi .two-section h2 {
        font-size: 20px;
    }
    
    #sobre-mi .two-section h5 {
        font-size: 15px;
    }

    #sobre-mi p {
        font-size: 13px;
    }

    #habilidades-1 .grid .skill h3 {
        font-size: 20px;
    }
    
    #habilidades-1 .grid .skill h2 {
        font-size: 15px;
    }

    #habilidades-2 .grid .skill h3 {
        font-size: 20px;
    }
    
    #habilidades-2 .grid .skill h2 {
        font-size: 13px;
    }
    #proyectos .grid .skill {
        width: 250px;
        height: 250px;
    }
    
    #proyectos .grid .skill h3 {
        font-size: 25px;
        color: var(--color-blanco);
    }
    
    #proyectos .grid .skill h2 {
        font-size: 13px;
        font-weight: normal;
    }

    #proyectos .grid .skill .two-section a button {
        width: 110px;
        height: 30px;
        font-size: 12px;
    }
    
    #proyectos .grid .skill .two-section a i {
        color: var(--color-blanco);
        font-size: 30px;
    }

    footer p {
        font-size: 10px;
    }

}


@media (max-width: 460px){
    #sobre-mi .two-section {
        display: grid;
        grid-template-columns: repeat(2, 60% 40%); 
        place-items: left;
        
    }

    #proyectos {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}




/* JS */

/* General styles for sections */
section {
    opacity: 0;
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

/* Initial state for sections coming from the left */
section.from-left {
    transform: translateX(-50px);
}

/* Initial state for sections coming from the right */
section.from-right {
    transform: translateX(50px);
}

/* Style for sections that are in view */
section.in-view {
    opacity: 1;
    transform: translateX(0);
}
