@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');


* {


    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* para que el scrollbar sea mas suave */

html {
    scroll-behavior: smooth;
}

/* Propiedades de la scroll */

body {
    overflow: overlay;
}

body::-webkit-scrollbar {
    width: 7px;
  
}

body::-webkit-scrollbar-thumb {
    background-color: yellow;     
    border-radius: 5px; 
}

body::-webkit-scrollbar-corner {    
    border-radius: 5px; 
}

body::-webkit-scrollbar-track {    
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Menu Movil */
.menu-movil {
    visibility: hidden;
}

@media (max-width:768px) {
    .nav-ul {
        visibility: hidden;
    }

    .menu-movil {
        visibility: visible;
    }

    .menu {
    
       position: absolute;
       opacity: 0;
       transition: 0.2s;
       visibility: visible;
       width: 100%;
       height: 900px;
       background: linear-gradient( rgba(0, 0, 0, 0.9), rgb(0, 0, 0, 0.9) );
       position: absolute;
       top: 0;
       left: 0;
       display: flex;
       flex-direction: column;
       
    }

    .menu.active {
        visibility: visible;
        width: 100%;
        height: 900px;
        background: linear-gradient( rgba(0, 0, 0, 1), rgb(0, 0, 0, 1) );
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        padding-top: 150px;
        flex-direction: column;
        margin-top: 0px;
        opacity: 1;
        transition: .2s;
        z-index: 1000;
    }

    .menu-movil-ul {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .menu-movil-ul li {
        padding-right: 25px;
        padding-top: 30px;
    }

    .button-movil {
        width: 30px;
        height: 30px;
        cursor: pointer;
        background-image: url(img/exit.png);
        background-color: transparent;
        border: none;
        background-size: cover;
        background-repeat: none;
        background-position: center;
    }

    .img {
        padding-top: 20px;
        cursor: pointer;
        opacity: 1;
        transition: 0.4s;
    }

    .img.active { 
        visibility: hidden;
        opacity: 0;
        transition: 0.2s;
    }

}


/* Media 443 */
@media(max-width:443px) {
    header .seccion-header ul li h1 {
        font-size: 42px;
    }
    header .seccion-header ul li h1 span {
        font-size: 42px;
    }

    header .seccion-header ul li h3 {
        font-size: 12px;
        padding-left: 20px;
        padding-right:  20px;
    }
}


/* Header cpm o,agem y los textos */


header {
    width: 100%;
    height: 100vh;
    background-position: center;
    background-repeat: none;
    background-size: cover;
   background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)), url(img/fondo-header.jpg);
}

header nav {
    width: 100%;
    height: 80px;
    background: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
    display: flex;
    align-items: center;
    position: fixed;
}

header nav ul {
    display: flex;
}

header nav ul li {
    list-style: none;
    padding-left: 40px;
}

header nav ul li a {
    text-decoration: none;
    color: #fff;
}

.img {
    width: 50px;
    height: 50px;
}

.imagen-logotipo {
    width: 50px;
    height: 50px;
    right: 0;
    position: absolute;
    margin-right: 30px;
}

/* Inicio */
.seccion-header {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.seccion-header ul li {
    list-style: none;
}

.seccion-header ul li h1{
    color: #fff;
    font-size: 80px;
}
.seccion-header ul li h1 span{
    color: yellow;
    font-size: 80px;
}

.seccion-header ul li h3{
    color: #fff;
    font-size: 14px;
    font-weight: 300;
}


/* Portafolio */

.trabajo h1 {
    text-align: center;
    color: white;
    padding: 30px;
    background-color: #181414;
   
}

.contenedor-trabajo {
    width: 100%;
    height: 450px;
    background-color:#181414;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.contenedor-trabajo ul {
    display: flex;
}
.contenedor-trabajo ul li {
    list-style: none;
}

.trabajo-1 {
    width: 280px;
    height: 400px;
    background-color: rgb(38, 38, 38);
    margin: 10px;
    border-radius: 10px;
}

.trabajo-1 ul {
    display: inline-block;
}

.trabajo-1 ul li {
    list-style: none;
}

.trabajo-1 ul li h2 {
    color: #fff;
    border-bottom: 1px solid rgb(23, 23, 23);
    padding-bottom: 4px;
    padding-top: 4px;
}

.trabajo-1 ul li p {
    color: #fff;
    font-size: 13px;
    padding: 20px;
}

.trabajo-1 ul li button {
    width: 120px;
    height: 30px;
    border-radius: 10px;
    background-color: #181414;
}

.trabajo-1 ul li button a {
   text-decoration: none;
   color: yellow;
}

.trabajo-1 ul li img {
    margin-top: 5px;
    width: 250px;
    height: 150px;
    border-radius: 10px;
}




/* Notas */

.notas {
    width: 100%;
    height: 14000px;
    background-color: rgb(19, 19, 19);
    padding-top: 10px;
}

.notas h1 {
    color: #fff;
    text-align: center;
    margin: 20px;
}

.notas h2 {
    color: rgb(229, 255, 0);
    text-align: center;
    margin: 20px;
}

.notas h5 {
    color: rgb(66, 66, 66);
    text-align: center;
    margin: 22px;
    text-transform: capitalize;
}


/* MOvil Notas */

@media(max-width: 340px) {
    .notas h2 {
        color: rgb(229, 255, 0);
        text-align: center;
        margin: 20px;
        font-size: 14px;
    }

    .contenedor ul li p {
        display: flex;
        color: #fff;
        text-align: left; 
        font-size: 12px;
    }
    
    .contenedor ul li span {
        margin-right: 40px;
        color: rgb(255, 232, 24);
        text-align: center;
        font-size: 12px;
    }

    .notas {
        width: 100%;
        height: 20150px;
        background-color: rgb(19, 19, 19);
        padding-top: 10px;
    }

}


@media(max-width: 800px) {
    .notas h2 {
        color: rgb(229, 255, 0);
        text-align: center;
        margin: 20px;
        font-size: 14px;
    }

    .contenedor ul li p {
        display: flex;
        color: #fff;
        text-align: left; 
        font-size: 12px;
    }
    
    .contenedor ul li span {
        margin-right: 40px;
        color: rgb(255, 232, 24);
        text-align: center;
        font-size: 12px;
    }

    .notas {
        width: 100%;
        height: 24150px;
        background-color: rgb(19, 19, 19);
        padding-top: 10px;
    }
}

.contenedor {
    width: 100%;
    background-color: rgb(12, 12, 12);
    padding: 20px;
    display: flex;
    align-items: center;
}

.contenedor:nth-child(2n+1) {
    width: 100%;
    background-color: rgb(38, 38, 38);
    padding: 20px;
    display: flex;
    align-items: center;
}

.contenedor ul{
    display: flex;
    align-items: center;
}
.contenedor ul li {
    list-style: none;
}

.contenedor ul li span {
    margin-right: 40px;
    color: rgb(255, 232, 24);
    text-align: center;
}

.contenedor ul li p {
    display: flex;
    color: #fff;
    text-align: left; 
    
}





/* Contactame */
.contactame {
    width: 100%;
    height: 900px;
    background-color: rgb(0, 0, 0);
}
