@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');


* {


    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* para que el scrollbar sea mas suave */

html {
    scroll-behavior: smooth;
}

/* Propiedades de la scroll */

body {
    overflow: overlay;
}

body::-webkit-scrollbar {
    width: 7px;
  
}

body::-webkit-scrollbar-thumb {
    background-color: yellow;     
    border-radius: 5px; 
}

body::-webkit-scrollbar-corner {    
    border-radius: 5px; 
}

body::-webkit-scrollbar-track {    
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Menu Movil */
.menu-movil {
    visibility: hidden;
}

@media (max-width:768px) {
    .nav-ul {
        visibility: hidden;
    }

    .menu-movil {
        visibility: visible;
    }

    .menu {
    
       position: absolute;
       opacity: 0;
       transition: 0.2s;
       visibility: visible;
       width: 100%;
       height: 900px;
       background: linear-gradient( rgba(0, 0, 0, 0.9), rgb(0, 0, 0, 0.9) );
       position: absolute;
       top: 0;
       left: 0;
       display: flex;
       flex-direction: column;
       
    }

    .menu.active {
        visibility: visible;
        width: 100%;
        height: 900px;
        background: linear-gradient( rgba(0, 0, 0, 0.9), rgb(0, 0, 0, 0.9) );
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        padding-top: 150px;
        flex-direction: column;
        margin-top: 0px;
        opacity: 1;
        transition: .2s;
        z-index: 1000;
    }

    .menu-movil-ul {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .menu-movil-ul li {
        padding-right: 25px;
        padding-top: 30px;
    }

    .button-movil {
        width: 30px;
        height: 30px;
        cursor: pointer;
        background-image: url(img/exit.png);
        background-color: transparent;
        border: none;
        background-size: cover;
        background-repeat: none;
        background-position: center;
    }

    .img {
        padding-top: 20px;
        cursor: pointer;
        opacity: 1;
        transition: 0.4s;
    }

    .img.active { 
        visibility: hidden;
        opacity: 0;
        transition: 0.2s;
    }

}


/* Media 443 */
@media(max-width:443px) {
    header .seccion-header ul li h1 {
        font-size: 42px;
    }
    header .seccion-header ul li h1 span {
        font-size: 42px;
    }

    header .seccion-header ul li h3 {
        font-size: 12px;
        padding-left: 20px;
        padding-right:  20px;
    }
}


/* Header cpm o,agem y los textos */


header {
    width: 100%;
    height: 100vh;
    background-position: center;
    background-repeat: none;
    background-size: cover;
   background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)), url(img/fondo-header.jpg);
}

header nav {
    width: 100%;
    height: 80px;
    background: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9));
    display: flex;
    align-items: center;
    position: fixed;
}

header nav ul {
    display: flex;
}

header nav ul li {
    list-style: none;
    padding-left: 40px;
}

header nav ul li a {
    text-decoration: none;
    color: #fff;
}

.img {
    width: 50px;
    height: 50px;
}

.imagen-logotipo {
    width: 50px;
    height: 50px;
    right: 0;
    position: absolute;
    margin-right: 30px;
}

/* Inicio */
.seccion-header {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.seccion-header ul li {
    list-style: none;
}

.seccion-header ul li h1{
    color: #fff;
    font-size: 80px;
}
.seccion-header ul li h1 span{
    color: yellow;
    font-size: 80px;
}

.seccion-header ul li h3{
    color: #fff;
    font-size: 14px;
    font-weight: 300;
}


/* Portafolio */

.portafolio {
    width: 100%;
    height: 900px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.porfafolios {
    width: 1300px;
    height: 600px;
    background-color: transparent;
}

.portafolio h1 {
    top: 850px;
    color: white;
    position: absolute;
}

/* Parte 1 */


.parte-1 {
    width: 100%;
    height: 50%;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

.parte-1 .ejemploPortafolio1 {
    width: 290px;
    height: 220px;
    background-size: cover;
    background-position: center;
    background-image:  url(img/portafolio-e-1.jpg);
    border-radius: 10px;
    margin: 10px;
    transition: 0.2s;
    justify-content: center;
    align-items: center;
    display: flex;
    
}

.parte-1 .ejemploPortafolio1 .a-portafolio {
    width: 100%;
    height: 100%;
}

.parte-1 .ejemploPortafolio1:hover,
.parte-1 .ejemploPortafolio2:hover,
.parte-1 .ejemploPortafolio3:hover,
.parte-1 .ejemploPortafolio4:hover {
    cursor: pointer;
    opacity: 0.4;
}

.parte-1 .ejemploPortafolio1 h1 {
    color: #fff;
}

.parte-1 .ejemploPortafolio2 {
    width: 290px;
    height: 220px;
    background-size: cover;
    background-position: center;
    background-image:  url(img/portafolio-e-2.jpg);
    border-radius: 10px;
    margin: 10px;
    transition: 0.2s;
    justify-content: center;
    align-items: center;
    display: flex;
}

.parte-1 .ejemploPortafolio3 {
    width: 290px;
    height: 220px;
    background-size: cover;
    background-position: center;
    background-image:  url(img/portafolio-e-3.jpg);
    border-radius: 10px;
    margin: 10px;
    transition: 0.2s;
    justify-content: center;
    align-items: center;
    display: flex;
}

.parte-1 .ejemploPortafolio4 {
    width: 290px;
    height: 220px;
    background-size: cover;
    background-position: center;
    background-image:  url(img/portafolio-e-4.jpg);
    border-radius: 10px;
    margin: 10px;
    transition: 0.2s;
    justify-content: center;
    align-items: center;
    display: flex;
}
/* Parte 2 */

.parte-2 .ejemploPortafolio5:hover,
.parte-2 .ejemploPortafolio6:hover,
.parte-2 .ejemploPortafolio7:hover,
.parte-2 .ejemploPortafolio8:hover {
    cursor: pointer;
    opacity: 0.4;
}

.parte-2 {
    width: 100%;
    height: 50%;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

.parte-2 .ejemploPortafolio5 {
    width: 290px;
    height: 220px;
    background-size: cover;
    background-position: center;
    background-image:  url(img/portafolio-e-5.jpg);
    border-radius: 10px;
    margin: 10px;
    transition: 0.2s;
    justify-content: center;
    align-items: center;
    display: flex;
}

.parte-2 .ejemploPortafolio6 {
    width: 290px;
    height: 220px;
    background-size: cover;
    background-position: center;
    background-image:  url(img/portafolio-e-6.jpg);
    border-radius: 10px;
    margin: 10px;
    transition: 0.2s;
    justify-content: center;
    align-items: center;
    display: flex;
}

.parte-2 .ejemploPortafolio7 {
    width: 290px;
    height: 220px;
    background-size: cover;
    background-position: center;
    background-image:  url(img/portafolio-e-7.jpg);
    border-radius: 10px;
    margin: 10px;
    transition: 0.2s;
    justify-content: center;
    align-items: center;
    display: flex;
}

.parte-2 .ejemploPortafolio8 {
    width: 290px;
    height: 220px;
    background-size: cover;
    background-position: center;
    background-image:  url(img/portafolio-e-8.jpg);
    border-radius: 10px;
    margin: 10px;
    transition: 0.2s;
    justify-content: center;
    align-items: center;
    display: flex;
}


/* porfaolio movil */
@media(max-width: 1254px) {
   
   


    body .portafolio .parte-1 {
        display: flex;
        flex-direction: column;
    }

    body .portafolio  .parte-1 .ejemploPortafolio1 {
        height: 1500px;
    }
    body .portafolio .parte-1  .ejemploPortafolio2 {
        height: 1500px;
    }
    body .portafolio .parte-1 .ejemploPortafolio3 {
        height: 1500px;
    }
    body .portafolio .parte-1 .ejemploPortafolio4 {
        height: 1500px;
    }

    body .portafolio .parte-2 {
        display: flex;
        flex-direction: column;
    }

    body .portafolio .parte-2 .ejemploPortafolio5 {
        height: 800px;
    }
    body .portafolio .parte-2 .ejemploPortafolio6 {
        height: 800px;
    }
    body .portafolio .parte-2 .ejemploPortafolio7 {
        height: 800px;
    }
    body .portafolio .parte-2 .ejemploPortafolio8 {
        height: 800px;
    }

    
    
}

/* Notas */

.notas {
    width: 100%;
    height: 4000px;
    background-color: rgb(19, 19, 19);
    padding-top: 10px;
}

.notas h1 {
    color: #fff;
    text-align: center;
    margin: 20px;
}

.notas h2 {
    color: rgb(229, 255, 0);
    text-align: center;
    margin: 20px;
}

.notas h5 {
    color: rgb(66, 66, 66);
    text-align: center;
    margin: 22px;
}


/* MOvil Notas */

@media(max-width: 340px) {
    .notas h2 {
        color: rgb(229, 255, 0);
        text-align: center;
        margin: 20px;
        font-size: 14px;
    }

    .contenedor ul li p {
        display: flex;
        color: #fff;
        text-align: left; 
        font-size: 12px;
    }
    
    .contenedor ul li span {
        margin-right: 40px;
        color: rgb(255, 232, 24);
        text-align: center;
        font-size: 12px;
    }
}


@media(max-width: 800px) {
    .notas h2 {
        color: rgb(229, 255, 0);
        text-align: center;
        margin: 20px;
        font-size: 14px;
    }

    .contenedor ul li p {
        display: flex;
        color: #fff;
        text-align: left; 
        font-size: 12px;
    }
    
    .contenedor ul li span {
        margin-right: 40px;
        color: rgb(255, 232, 24);
        text-align: center;
        font-size: 12px;
    }

    .notas {
        width: 100%;
        height: 5100px;
        background-color: rgb(19, 19, 19);
        padding-top: 10px;
    }
}

.contenedor {
    width: 100%;
    background-color: rgb(12, 12, 12);
    padding: 20px;
    display: flex;
    align-items: center;
}

.contenedor:nth-child(3) {
    width: 100%;
    background-color: rgb(38, 38, 38);
    padding: 20px;
    display: flex;
    align-items: center;
}

.contenedor:nth-child(5) {
    width: 100%;
    background-color: rgb(38, 38, 38);
    padding: 20px;
    display: flex;
    align-items: center;
}

.contenedor:nth-child(7) {
    width: 100%;
    background-color: rgb(38, 38, 38);
    padding: 20px;
    display: flex;
    align-items: center;
}

.contenedor:nth-child(9) {
    width: 100%;
    background-color: rgb(38, 38, 38);
    padding: 20px;
    display: flex;
    align-items: center;
}

.contenedor:nth-child(11) {
    width: 100%;
    background-color: rgb(38, 38, 38);
    padding: 20px;
    display: flex;
    align-items: center;
}

.contenedor:nth-child(13) {
    width: 100%;
    background-color: rgb(38, 38, 38);
    padding: 20px;
    display: flex;
    align-items: center;
}

.contenedor:nth-child(15) {
    width: 100%;
    background-color: rgb(38, 38, 38);
    padding: 20px;
    display: flex;
    align-items: center;
}

.contenedor:nth-child(17) {
    width: 100%;
    background-color: rgb(38, 38, 38);
    padding: 20px;
    display: flex;
    align-items: center;
}

.contenedor:nth-child(19) {
    width: 100%;
    background-color: rgb(38, 38, 38);
    padding: 20px;
    display: flex;
    align-items: center;
}

.contenedor:nth-child(21) {
    width: 100%;
    background-color: rgb(38, 38, 38);
    padding: 20px;
    display: flex;
    align-items: center;
}

.contenedor:nth-child(23) {
    width: 100%;
    background-color: rgb(38, 38, 38);
    padding: 20px;
    display: flex;
    align-items: center;
}

.contenedor:nth-child(25) {
    width: 100%;
    background-color: rgb(38, 38, 38);
    padding: 20px;
    display: flex;
    align-items: center;
}

.contenedor:nth-child(27) {
    width: 100%;
    background-color: rgb(38, 38, 38);
    padding: 20px;
    display: flex;
    align-items: center;
}

.contenedor:nth-child(29) {
    width: 100%;
    background-color: rgb(38, 38, 38);
    padding: 20px;
    display: flex;
    align-items: center;
}

.contenedor:nth-child(31) {
    width: 100%;
    background-color: rgb(38, 38, 38);
    padding: 20px;
    display: flex;
    align-items: center;
}

.contenedor:nth-child(33) {
    width: 100%;
    background-color: rgb(38, 38, 38);
    padding: 20px;
    display: flex;
    align-items: center;
}

.contenedor:nth-child(35) {
    width: 100%;
    background-color: rgb(38, 38, 38);
    padding: 20px;
    display: flex;
    align-items: center;
}

.contenedor:nth-child(37) {
    width: 100%;
    background-color: rgb(38, 38, 38);
    padding: 20px;
    display: flex;
    align-items: center;
}

.contenedor:nth-child(39) {
    width: 100%;
    background-color: rgb(38, 38, 38);
    padding: 20px;
    display: flex;
    align-items: center;
}

.contenedor:nth-child(41) {
    width: 100%;
    background-color: rgb(38, 38, 38);
    padding: 20px;
    display: flex;
    align-items: center;
}

.contenedor:nth-child(43) {
    width: 100%;
    background-color: rgb(38, 38, 38);
    padding: 20px;
    display: flex;
    align-items: center;
}

.contenedor:nth-child(45) {
    width: 100%;
    background-color: rgb(38, 38, 38);
    padding: 20px;
    display: flex;
    align-items: center;
}

.contenedor:nth-child(47) {
    width: 100%;
    background-color: rgb(38, 38, 38);
    padding: 20px;
    display: flex;
    align-items: center;
}

.contenedor:nth-child(49) {
    width: 100%;
    background-color: rgb(38, 38, 38);
    padding: 20px;
    display: flex;
    align-items: center;
}

.contenedor:nth-child(51) {
    width: 100%;
    background-color: rgb(38, 38, 38);
    padding: 20px;
    display: flex;
    align-items: center;
}

.contenedor:nth-child(53) {
    width: 100%;
    background-color: rgb(38, 38, 38);
    padding: 20px;
    display: flex;
    align-items: center;
}

.contenedor:nth-child(55) {
    width: 100%;
    background-color: rgb(38, 38, 38);
    padding: 20px;
    display: flex;
    align-items: center;
}









.contenedor ul{
    display: flex;
    align-items: center;
}
.contenedor ul li {
    list-style: none;
}

.contenedor ul li span {
    margin-right: 40px;
    color: rgb(255, 232, 24);
    text-align: center;
}

.contenedor ul li p {
    display: flex;
    color: #fff;
    text-align: left; 
    
}



/* Contactame */
.contactame {
    width: 100%;
    height: 900px;
    background-color: rgb(0, 0, 0);
}
